body {
  background-color: #222;
  margin: 0;
}
h1, h2, h3, p, ul, li, a {
  font-family: sans-serif;
}
li {
  list-style-type: none;
}


header.header {
  background-color: #222;
  padding-top: 20px;
  width:1000px;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.header-right {
  text-align: right;
  float: right;
  margin-right: 10px;
  width: 200px;
}
.header-right li {
  margin-right:10px;
  margin-bottom:10px;
}
.header-right span {
  height:20px;
  vertical-align: middle;
}
.header a {
  color: #FFF;
  font-weight: normal;
  text-decoration: none;
}
.header-middle {
  margin-left:200px;
  margin-right:200px;
}
.appstore {
  display:inline-block;
  overflow:hidden;
  background:url(https://linkmaker.itunes.apple.com/assets/shared/badges/en-us/appstore-lrg.svg)  no-repeat;
  width:135px;
  height:40px;
  background-size:contain;
}
.github {
  margin-left: 4px;
  width:20px;
  height:20px;
  vertical-align: middle;
}
.verified-icon {
  margin-left: 4px;
  width:20px;
  height:20px;
  vertical-align: bottom;
}

.verified-icon-list {
  margin-left: 4px;
  width:12px;
  height:12px;
}

.header .active {
  background-color: #0099FF;
}

ul.header {
  background-color: #222;
  padding: 0;
}
ul.header li {
  display: inline;
  margin: 0;
}
ul.header li a {
  font-weight: normal;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}

.App {
  text-align: center;
}

.logo {
  height: 80px;
}

.title {
  font-size: 1.3em;
  font-weight: bold;
  line-height: 4px;
}
.subtitle {
  font-size: 1.0em;
  font-weight: normal;
  margin-bottom: 8px;
}

.content {
  background-color: #FFF;
  padding: 0px;
  margin: 0px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.content h1, h2, h3 {
  padding: 0px;
  margin: 10px;
}

.content ul {
  padding: 0px;
  margin: 10px;
}
.content li {
  text-align:left;
}
.content li.active {
  color: #0099FF;
}


div.page{
  width:100%;
}

div.card{
  margin-left: 10px;
  margin-right: 10px;
}

.left{
  width:25%;
  background:#cedbef;
  float:left;
  height:100%;
}
.middle{
  width:50%;
  background:#dbdbdb;
  float:left;
  height:100%;
}
.middle-and-right{
  width:75%;
  background:#dbdbdb;
  float:left;
  height:100%;
}
.right{
  width:25%;
  background:#cedbef;
  float:left;
  height:100%;
}

li.bold {
  font-weight: bold;
}
li.small {
  word-break: break-all;
  font-size: 0.6em;
}

.content .segmented-control > label {
  line-height: 1.7em;
}
